@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Rubik", sans-serif;
  background-color: #fcfbfc;
  overflow-x: hidden;
}

.btn-blue {
  border-radius: 5px;
  background-color: #3b82f6;
  padding: 0.5rem 1.25rem;
  font-weight: 600;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
}

.btn-blue:hover {
  background-color: #1d4ed8;
}

.card {
  @apply bg-white rounded-xl shadow-md p-6;
}

.card-btn {
  @apply bg-gray-100 hover:text-blue-500 hover:bg-blue-50 py-1 px-2 rounded flex items-center gap-1 transition-colors cursor-pointer;
}

.add-btn {
  @apply flex items-center gap-1 cursor-pointer bg-green-100 py-1 px-2 rounded hover:bg-green-200 text-green-600;
}

.add-btn-fill {
  @apply bg-blue-500 hover:bg-blue-600 cursor-pointer rounded py-1 px-2 text-white transition-colors;
}
