@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Rubik", sans-serif;
  background-color: #fcfbfc;
  overflow-x: hidden;
}
